*{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
main{
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-wrap: wrap;
}
nav{
    margin: 0;
    padding: 0;
    border: 0;
    width: 50%;
    flex-wrap: wrap;
}
nav ul{
    padding: 0;
    margin: 0;
    border: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.navlist{
    list-style: none;
    font-weight: 700;
    font-size: 1.5vw;
    color: aliceblue;
    padding: 20px;
}
.navlist > a{
    text-decoration: none;
    color: white;
}
.navlist:hover{
    text-shadow: 1px 1px 5px #ffffff, -1px -1px 5px #ffffff;
}
#mobilenav{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 2%;
    z-index: 1;
}
#mobilenav a{
    display: flex;
    width: 2.5vw;
    height: 2.5vw;
}
#headlogo{
    display: none;
}

@media only screen and (max-width: 768px){
    header{
        position: static;
        background-color: black;
    }
    #navbar li a{
        display: none;
    }
    #signup a{
        display: none;
    }
    #accdetails #searchbar{
        display: none;
        position: absolute;
        right: 12vw;
        width: 10vw;
        height: 2vw;
    }
    #mobilenav{
        display: flex;
    }
    #mobile{
        display: none;
    }
    #mobilecontainer{
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        width: 25%;
        height: 20vw;
        background-color: white;
        z-index: 2;
        flex-direction: column;
    }
    #mobilecontainer #x{
        width: 7%;
        height: 7%;
        position: absolute;
        right: 0;
    }
    #mobilenavelements ul{
        margin-top: 10%;
        padding-inline-start: 40px;
    }
    #mobilenavelements li{
        list-style: none;
        margin-bottom: 3%;
    }
    #mobilenavelements li a{
        text-decoration: none;
        color: black;
        font-size: 1.5vw;
    }
    #headlogo{
        width: 100%;
        height: 5vw;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #shuttleprime{
        height: 3vw;
        width: 10vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#mobile{
    display: none;
}
#account{
    display: none;
}

#accountcontainer{
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    height: 30vw;
    background-color: white;
    z-index: 2;
    flex-direction: column;
}

#x{
    width: 7%;
    height: 7%;
    display: flex;
}
#x a{
    display: flex;
}
#dp{
    width: 100%;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3%;
}
#dp a{
    width: 20%;
    height: 60%;
    display: flex;
    margin-bottom: 3%;
}
#accountnav ul{
    padding: 0;
    margin: 0;
    margin-left: 4%;
    
}
#accountnav ul li{
    list-style: none;
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 3%;
    background-image: linear-gradient(#000 0 0);
    background-position: 0% 100%;
    background-size: 0% 10%;
    background-repeat: no-repeat;
    transition:
    background-size 0.3s,
    background-position 0s 0.4s;
}
#accountnav a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}
#accountnav a span{
    width: 2vw;
    height: 2vw;
    display: inline-flex;
    margin-right: 2%;
}
#accdetails{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5%;
}
#accdetails img{
    width: 2vw;
    height: 2vw;
}
#accdetails a{
    width: 2vw;
    height: 2vw;
    margin-left: 15%;
    margin-right: 15%;
}
#accdetails2{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5%;
}
#accdetails2 img{
    width: 2vw;
    height: 2vw;
}
#accdetails2 a{
    width: 2vw;
    height: 2vw;
    margin-left: 15%;
    margin-right: 15%;
}
#searchbar{
    display: none;
    position: absolute;
    right: 10vw;
    width: 10vw;
    height: 2vw;
}
#navproduct{
    display: flex;
    justify-content: center;
}
.products{
    width: 80%;
}
.products ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.products a{
    text-decoration: none;
    color: black;
    background-image: linear-gradient(#000 0 0);
    background-position: 50% 100%;
    background-size: 0% 5%;
    background-repeat: no-repeat;
    transition:
    background-size 0.2s,
    background-position 0s 0.3s;
}
.products ul li{
    list-style: none;
    padding: 20px;
    font-size: 1.5vw;
    font-weight: 600;
}
.products ul li a:hover{
    background-position: 100% 100%;
    background-size: 100% 5%;
}

#shirts{
    height: auto;
    display: grid;
    grid-template-columns: 15% 83%;
    column-gap: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    margin-bottom: 3vw;
}
#shirts .filter{
    width: auto;
    height: auto;
}
#shirts .filter div{
    height: 1.6vw;
    margin-top: 5%;
    font-weight: 600;
    font-size: 1.3vw;
}
#shirts .filter li{
    list-style: none;
    margin-bottom: 5%;
    background-image: linear-gradient(#000 0 0);
    background-position: 0% 100%;
    background-size: 0% 10%;
    background-repeat: no-repeat;
    transition:
    background-size 0.3s,
    background-position 0s 0.4s;
}
#shirts .filter li a{
    text-decoration: none;
    color: black;
    font-size: 1.3vw;
}

#shirts .filter li:hover{
    background-position: 100% 100%;
    background-size: 100% 10%;
    
}
#shirts .filter ul{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: max-content;
}
#shirts .items{
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
#shirts .shirt{
    width: 17.5vw;
    height: 23vw;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#shirts .shirt:hover{
    z-index: 1;
    box-shadow: .5vw .5vw 1vw lightgray;
}
#shirts img{
    width: 100%;
    height: 100%;
}
#shirts .image{
    margin: 5%;
    width: 60%;
    height: 60%;
}
#shirts .name{
    font-size: 1.2vw;
}
#shirts .price{
    font-size: 1.6vw;
    font-weight: 900;
    margin-bottom: 2%;
    margin-top: 1%;
}
#shirts .choose{
    display: flex;
    width: 95%;
}
#shirts .shirt:hover .choose{
    display: flex;
    
}
#shirts .shirt form{
    position: relative;
    display: grid;
    grid-template-columns: 8.3vw 7.5vw;
    column-gap: 0.85vw;
    width: 100%;
    margin-top: 2%;
}

#shirts .choose a{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85vw;
    border: solid;
    text-decoration: none;
    color: black;
}
#shirts .choose a:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
#shirts .choose a:hover .carticon{
    background-color: black;
    color: white;
    display: flex;
}
#shirts .carticon1{
    width: 1.3vw;
    height: 1.3vw;
    margin-right: .3vw;
}

#shirts .carticon{
    width: 1.3vw;
    height: 1.3vw;
    margin-right: .3vw;
    position: absolute;
    left: 2%;
    display: none;
}

#shoes{
    display: none;
    grid-template-columns: 15% 83%;
    column-gap: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    margin-bottom: 3vw;
}
#shoes .filter{
    width: auto;
    height: auto;
}
#shoes .filter div{
    height: 1.6vw;
    margin-top: 5%;
    font-weight: 600;
    font-size: 1.3vw;
}
#shoes .filter li{
    list-style: none;
    margin-bottom: 5%;
    background-image: linear-gradient(#000 0 0);
    background-position: 0% 100%;
    background-size: 0% 10%;
    background-repeat: no-repeat;
    transition:
    background-size 0.3s,
    background-position 0s 0.4s;
}
#shoes .filter li a{
    text-decoration: none;
    color: black;
    font-size: 1.3vw;
}
#shoes .filter li:hover{
    background-position: 100% 100%;
    background-size: 100% 10%;
    
}
#shoes .filter ul{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: max-content;
}
#shoes .items{
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
#shoes .shoe{
    width: 17.5vw;
    height: 28vw;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#shoes .shoe:hover{
    z-index: 1;
    box-shadow: .5vw .5vw 1vw lightgray;
}
#shoes img{
    width: 100%;
    height: 100%;
}
#shoes .image{
    display: flex;
    width: 100%;
    height: 64%;
    align-items: center;
    justify-content: center;
}
#shoes .colors{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}
#shoes .colorimage{
    width: 65%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#shoes .colorimage img{
    width: 20%;
    height: 80%;
    margin-right: 1%;
}
#shoes .colorimage img:hover{
    width: 30%;
    height: 110%;
    margin-right: 1%;
}
#shoes .name{
    font-size: 1.2vw;
}
#shoes .price{
    font-size: 1.6vw;
    font-weight: 900;
    margin-bottom: 2%;
    margin-top: 1%;
}
#shoes .choose{
    display: none;
    width: 95%;
}
#shoes .shoe:hover .choose{
    display: flex;
    
}
#shoes .shoe form{
    position: relative;
    display: grid;
    grid-template-columns: 8.3vw 7.5vw;
    column-gap: 0.85vw;
    width: 100%;
    margin-top: 2%;
}

#shoes .choose a{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85vw;
    border: solid;
    padding: 1%;
    text-decoration: none;
    color: black;
}
#shoes .choose a:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
#shoes .choose a:hover .carticon{
    background-color: black;
    color: white;
    display: flex;
}
#shoes .carticon1{
    width: 1.3vw;
    height: 1.3vw;
    margin-right: .3vw;
}
#shoes .carticon{
    width: 1.3vw;
    height: 1.3vw;
    margin-right: .3vw;
    position: absolute;
    left: 2%;
    display: none;
}

#rackets{
    display: none;
    grid-template-columns: 15% 83%;
    column-gap: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    margin-bottom: 3vw;
}
#rackets .filter{
    width: auto;
    height: auto;
}
#rackets .filter div{
    height: 1.6vw;
    margin-top: 5%;
    font-weight: 600;
    font-size: 1.3vw;
}
#rackets .filter li{
    list-style: none;
    margin-bottom: 5%;
    background-image: linear-gradient(#000 0 0);
    background-position: 0% 100%;
    background-size: 0% 10%;
    background-repeat: no-repeat;
    transition:
    background-size 0.3s,
    background-position 0s 0.4s;
}
#rackets .filter li a{
    text-decoration: none;
    color: black;
    font-size: 1.3vw;
}
#rackets .filter li:hover{
    background-position: 100% 100%;
    background-size: 100% 10%;
    
}
#rackets .filter ul{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: max-content;
}
#rackets .items{
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
#rackets .racket{
    width: 17.5vw;
    height: 23vw;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#rackets .racket:hover{
    z-index: 1;
    box-shadow: .5vw .5vw 1vw lightgray;
}
#rackets img{
    width: 100%;
    height: 100%;
}
#rackets .image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    width: 65%;
    height: 66%;
}
#rackets .name{
    font-size: 1.2vw;
}
#rackets .price{
    font-size: 1.6vw;
    margin-bottom: 2%;
    margin-top: 1%;
    font-weight: 900;
}
#rackets .choose{
    display: none;
    width: 95%;
}
#rackets .racket:hover .choose{
    display: flex;
    
}
#rackets .racket form{
    position: relative;
    display: grid;
    grid-template-columns: 8.3vw 7.5vw;
    column-gap: 0.85vw;
    width: 100%;
    margin-top: 2%;
}

#rackets .choose a{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85vw;;
    border: solid;
    padding: 1%;
    text-decoration: none;
    color: black;
}
#rackets .choose a:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
#rackets .choose a:hover .carticon{
    background-color: black;
    color: white;
    display: flex;
}
#rackets .carticon1{
    width: 1.3vw;
    height: 1.3vw;
    margin-right: .3vw;
}
#rackets .carticon{
    width: 1.3vw;
    height: 1.3vw;
    margin-right: .3vw;
    position: absolute;
    left: 2%;
    display: none;
}

#bags{
    display: none;
    grid-template-columns: 15% 83%;
    column-gap: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    margin-bottom: 3vw;
}
#bags .filter{
    width: auto;
    height: auto;
}
#bags .filter div{
    height: 1.6vw;
    margin-top: 5%;
    font-weight: 600;
    font-size: 1.3vw;
}
#bags .filter li{
    list-style: none;
    margin-bottom: 5%;
    background-image: linear-gradient(#000 0 0);
    background-position: 0% 100%;
    background-size: 0% 10%;
    background-repeat: no-repeat;
    transition:
    background-size 0.3s,
    background-position 0s 0.4s;
}
#bags .filter li a{
    text-decoration: none;
    color: black;
    font-size: 1.3vw;
}
#bags .filter li:hover{
    background-position: 100% 100%;
    background-size: 100% 10%;
}
#bags .filter ul{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: max-content;
}
#bags .items{
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
#bags .bag{
    width: 17.5vw;
    height: 28vw;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#bags .bag:hover{
    z-index: 1;
    box-shadow: .5vw .5vw 1vw lightgray;
}
#bags img{
    width: 100%;
    height: 100%;
}
#bags .image{
    display: flex;
    width: 100%;
    height: 60%;
    align-items: center;
    justify-content: center;
}
#bags .colors{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}
#bags .colorimage{
    width: 65%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#bags .colorimage img{
    width: 20%;
    height: 80%;
    margin-right: 1%;
}
#bags .colorimage img:hover{
    width: 30%;
    height: 110%;
    margin-right: 1%;
}
#bags .name{
    font-size: 1.2vw;
}
#bags .category{
    margin-top: 1%;
    font-size: 0.85vw;
    font-weight: 600;
}
#bags .price{
    font-size: 1.6vw;
    font-weight: 900;
    margin-bottom: 2%;
    margin-top: 1%;
}
#bags .choose{
    display: none;
    width: 95%;
}
#bags .bag:hover .choose{
    display: flex;
    
}
#bags .bag form{
    position: relative;
    display: grid;
    grid-template-columns: 8.3vw 7.5vw;
    column-gap: 0.85vw;
    width: 100%;
    margin-top: 2%;
}

#bags .choose a{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85vw;
    border: solid;
    padding: 1%;
    text-decoration: none;
    color: black;
}
#bags .choose a:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
#bags .choose a:hover .carticon{
    background-color: black;
    color: white;
    display: flex;
}
#bags .carticon1{
    width: 1.3vw;
    height: 1.3vw;
    margin-right: .3vw;
}
#bags .carticon{
    width: 1.3vw;
    height: 1.3vw;
    margin-right: .3vw;
    position: absolute;
    left: 2%;
    display: none;
}

#strings{
    display: none;
    grid-template-columns: 15% 83%;
    column-gap: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    margin-bottom: 3vw;
}
#strings .filter{
    width: auto;
    height: auto;
}
#strings .filter div{
    height: 1.6vw;
    margin-top: 5%;
    font-weight: 600;
    font-size: 1.3vw;
}
#strings .filter li{
    list-style: none;
    margin-bottom: 5%;
    background-image: linear-gradient(#000 0 0);
    background-position: 0% 100%;
    background-size: 0% 10%;
    background-repeat: no-repeat;
    transition:
    background-size 0.3s,
    background-position 0s 0.4s;
}
#strings .filter li a{
    text-decoration: none;
    color: black;
    font-size: 1.3vw;
}
#strings .filter li:hover{
    background-position: 100% 100%;
    background-size: 100% 10%;
    
}
#strings .filter ul{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: max-content;
}
#strings .items{
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
#strings .string{
    width: 17.5vw;
    height: 23vw;
    margin-right: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#strings .string:hover{
    z-index: 1;
    box-shadow: .5vw .5vw 1vw lightgray;
}
#strings img{
    width: 100%;
    height: 100%;
}
#strings .image{
    margin: 5%;
    width: 60%;
    height: 60%;
}
#strings .name{
    font-size: 1.2vw;
}
#strings .price{
    font-size: 1.6vw;
    font-weight: 900;
    margin-bottom: 2%;
    margin-top: 1%;
}
#strings .choose{
    display: none;
    width: 95%;
}
#strings .string:hover .choose{
    display: flex;
    
}
#strings .string form{
    position: relative;
    display: grid;
    grid-template-columns: 8.3vw 7.5vw;
    column-gap: 0.85vw;
    width: 100%;
    margin-top: 2%;
}

#strings .choose a{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85vw;
    border: solid;
    padding: 1%;
    text-decoration: none;
    color: black;
}
#strings .choose a:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
#strings .choose a:hover .carticon{
    background-color: black;
    color: white;
    display: flex;
}
#strings .carticon1{
    width: 1.3vw;
    height: 1.3vw;
    margin-right: .3vw;
}
#strings .carticon{
    width: 1.3vw;
    height: 1.3vw;
    margin-right: .3vw;
    position: absolute;
    left: 2%;
    display: none;
}

footer{
    height: auto;
    background-color: black;
    display: flex;
    justify-content: center;
}
#foot{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
#foot .col{
    height: 7vw;
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#foot1{
    display: flex;
    height: 90%;
    width: 51%;
}
#foot2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    width: 80%;
    color: aliceblue;
    font-size: .8vw;
}
#foot3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    width: 30%;
}
#foot3 ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    
}
#foot3 a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1vw;
    text-decoration: none;
    color: aliceblue;
}

#foot4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
}
#foot4 #find{
    color: aliceblue;
    font-size: 1.5vw;
    font-weight: 700;
}
#foot4 #socs{
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 40%;
}
#socs a{
    margin-top: .5vw;
    width: 18%;
    height: 90%;
    border-radius: 50% ;
    overflow: hidden;
}
#socs a img{
    width: 100%;
    height: 100%;
}
#foot5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    width: 80%;
}
#foot5 ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
#foot5 a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .8vw;
    text-decoration: none;
    color: aliceblue;
}
footer li{
    list-style: none;
    margin-bottom: .5vw;
}

#prodad1{
    display: flex;
}
#prodad2{
    display: none;
}
#prodad3{
    display: none;
}
#prodad4{
    display: none;
}
#prodad5{
    display: none;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}